{% trans_default_domain 'FOSUserBundle' %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Register</h2>
    </div>
    <div class="panel-body">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" />
        </div>
        {{ form_end(form) }}
    </div>
</div>



