{% extends 'base.html.twig' %}

{% block main %}
    <h2>Post edit</h2>
    <hr>
    {% include ":post:form.html.twig" with { "form": edit_form } %}
    <hr>

    <a href="{{ path('post_index') }}" class="btn btn-primary">Back to the list</a>

    {{ form_start(delete_form) }}
        <input type="submit" value="Delete" class="btn btn-danger">
    {{ form_end(delete_form) }}
{% endblock %}
