{% extends 'base.html.twig' %}

{% block main %}
    <h2>Post creation</h2>
    <hr>
    {% include ":post:form.html.twig" %}
    <hr>
    <a href="{{ path('post_index') }}" class="btn btn-primary">Back to the list</a>
{% endblock %}
